.container {
  display: flex;
  max-width: 1800px;
  margin: 0 auto;
  padding-top: 7rem;
  position: relative;
}

.back-container {
  position: absolute;
  top: 50px;
  left: 30px;
  cursor: pointer;
  text-decoration: none;
  list-style: none;
  color: var(--primary-slate-black);
}

.movie-details-container {
  width: 90%;
  max-width: 1300px;
  border: solid 2px var(--primary-slate-black);
  border-radius: 10px;
  margin: 0 auto;
}

.movie-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.details-image-container img {
  width: 100%;
  border-radius: 5px;
  border: solid 2px var(--primary-slate-black);
}

.details {
  text-align: center;
  margin-top: 0.5rem;
  font-family: var(--font-body);
}

.details-title {
  font-size: var(--text-2xl);
  font-weight: var(--font-semibold);
  letter-spacing: var(--tracking-tight);
}

.details-genre {
  color: var(--secondary-gray-black);
  font-size: var(--text-xs);
  font-weight: var(--font-medium);
  letter-spacing: var(--tracking-tight);
}

.details-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--text-base);
  font-weight: var(--font-semibold);
  letter-spacing: var(--tracking-tight);
  color: var(--primary-slate-black);
}

.rating-stars {
  fill: var(--star);
  color: var(--secondary-gray-blackk);
  margin-right: 0.2rem;
}

.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 1rem;
  margin-top: 0.5rem;
}

.like-button {
  height: 40px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-slate-black);
  border: solid 2px var(--primary-slate-black);
  color: var(--secondary-gray);
  font-size: var(--text-base);
  font-weight: var(--font-semibold);
  border-radius: 5px;
  cursor: pointer;
}

.liked-button {
  height: 40px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-gray);
  border: solid 2px var(--primary-slate-black);
  color: var(--primary-slate-black);
  font-size: var(--text-base);
  font-weight: var(--font-semibold);
  border-radius: 5px;
  cursor: pointer;
}

.heart {
  margin-right: 0.5rem;
}

.hearted {
  fill: var(--primary-slate-black);
}

.add-to-mylist-button {
  height: 40px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px var(--primary-slate-black);
  color: var(--primary-slate-black);
  font-size: var(--text-base);
  font-weight: var(--font-semibold);
  border-radius: 5px;
  cursor: pointer;
}

.remove-to-mylist-button {
  height: 40px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px var(--primary-slate-black);
  background-color: var(--primary-slate-black);
  color: var(--secondary-gray);
  font-size: var(--text-base);
  font-weight: var(--font-semibold);
  border-radius: 5px;
  cursor: pointer;
}

.description {
  color: var(--secondary-gray-black);
  font-size: var(--text-base);
  font-weight: var(--font-normal);
  letter-spacing: var(--tracking-tight);
  margin-top: 0.5rem;
}